.container {
  margin-top: 60px;
}

.container hr {
  width: 60%;
}

#description {
  border-radius: 10px;
  width: 60%;
  margin-left: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px;
}

#description hr {
  width: 80%;
  background-color: white;
}

#question-options {
  margin-top: 40px;
}

.question-option {
  margin-bottom: 10px;
}

.question-option button {
  width: 40%;
}

.hidden {
  display: none;
}
