.container {
  margin-top: 30px;
}

.container hr {
  width: 60%;
}

#description {
  border-radius: 10px;
  width: 60%;
  margin-left: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px;
}

#description hr {
  width: 80%;
  background-color: white;
}

#question-options {
  margin-top: 30px;
}

.question-option {
  margin-bottom: 10px;
}

.question-option button {
  width: 40%;
}

.hidden {
  display: none;
}

.footer {
  width: 50%;
  margin-left: 25%;
}

#hint {
  font-size: 0.8em;
}

@media (max-width: 720px) {
  .container {
    margin-top: 15px;
  }

  .container hr {
    width: 80%;
  }

  .container h1 {
    font-size: 28px;
  }

  .container h4 {
    font-size: 18px;
  }

  .question-option button {
    width: 80%;
  }

  #description {
    width: 80%;
    margin-left: 10%;
  }

  .footer {
    width: 80%;
    margin-left: 10%;
  }
}
