<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-Compatible" content="ie=edge">
  <title>BioPlastics Quiz</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Main CSS file for the project -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.min.css') }}">
  <!-- Setting Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
  <main role="main">
    <div class="btn-lang dropdown">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Other languages <span class="caret"></span></button>
      <ul class="dropdown-menu text-center">
        <li class="dropdown-item" style="background-color:#fff;"><a href="/it/">Italiano</a></li>
      </ul>
    </div>
    <div class="container">
      <h1>BioPlastics Quiz Galvani 1<sup>a</sup>M 2018-19</h1>
      <hr>
      <h3>by Federico Carboni, Francesco Di Cesare and Davide Basile</h3>
      <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus fugit voluptates dolorem id illo vitae, minus eos cum. Dolor nihil exercitationem earum adipisci excepturi non aut. Accusantium, odit? Atque, provident! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At sunt optio praesentium vitae molestiae veritatis aut porro culpa corporis ut ipsam nesciunt provident nobis, non id explicabo neque doloremque commodi.</p>
      <a class="btn btn-lg btn-success" href="quiz/">Start Quiz</a>
    </div>
  </main>
  <footer>
    <div class="footer text-center">
      <hr>
      <p class="credits text-muted">This website is made by Federico Carboni, <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> and <a href="https://www.python.org/">Python</a> (functionality), Francesco Di Cesare, creative mind and content maker and Davide Basile, art designer.</p>
      <p class="text-muted">These web pages are built using <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="https://jquery.com/" target="_blank">jQuery</a> and <a href="https://popper.js.org/" target="_blank">Popper.js</a>. The source code is available on <a href="https://github.com/FedericoCarboni/bioplastics-quiz" target="_self">GitHub</a>.</p>
    </div>
  </footer>
  <!-- jQuery, Popper.js and Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
