{% extends "layout.min.html" %}
{% block main %}
  <!-- Container for the question -->
  <div class="container" id="question">
    <h1 id="question-header"><!-- The question text --></h1>
    <h4 class="text-muted" id="question-index"><!-- The question index i.e. 'Question 3' --></h4>
    <hr>
    <!-- This will trigger the hint() method of the quiz -->
    <button type="button" class="btn btn-primary" id="hint" onclick="quiz.hint();">Hint</button>
    <div id="question-options"><!-- Here will be all the options for the quiz --></div>
    <br>
    <div class="text-white" id="description">
      <h3 id="description-header"><!-- This will be the header of the question description --></h3><hr>
      <p id="description-body"><!-- This will be the description of the question --></p>
    </div>
    <br>
    <!-- 'Next' button -->
    <button class="btn" id="next-question" type="button" onclick="quiz.next();"></button>
    <!-- Result form -->
    <form id="submit" action="result/" method="post" class="hidden">
      <!-- This is the hidden field that will contain the score of the quiz -->
      <input type="hidden" id="submit-score" name="score">
      <!-- The 'Finish' button -->
      <input type="submit" id="submit-btn" class="btn">
    </form>
  </div>
{% endblock %}
{% block footer %}
  <hr>
  <p class="text-muted">This website is made by Federico Carboni, <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> and <a href="https://www.python.org/">Python</a> (functionality), Francesco Di Cesare, creative mind and content maker and Davide Basile, art designer.</p>
  <p class="text-muted">These web pages are built using <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="https://jquery.com/" target="_blank">jQuery</a> and <a href="https://popper.js.org/" target="_blank">Popper.js</a>. The source code is available on <a href="https://github.com/FedericoCarboni/bioplastics-quiz" target="_self">GitHub</a>.</p>
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='js/quiz.min.js') }}" crossorigin="anonymous"></script>
  <script>
    var quiz = new Quiz(JSON.parse('{{ "" + quiz|tojson|safe }}'));
    quiz.populate();
  </script>
{% endblock %}
