/* Globals */

.container {
  position: relative;
  margin-top: 30px;
  text-align: center;
  align-items: center;
}

.container hr {
  width: 70%;
}

.container p {
  margin-top: 20px;
  width: 60%;
  margin-left: 20%;
}

.chart {
  width: 60%;
  margin-left: 20%;
}

footer {
  position: relative;
  text-align: center;
  align-items: center;
}

.footer {
  position: absolute;
  width: 60%;
  left: 20%;
}

.btn-lang {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 860px) {
  .container {
    position: relative;
    margin-top: 15px;
  }

  .container hr {
    width: 80%;
  }

  .container p {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
  }

  .container h1 {
    font-size: 28px;
  }

  .container h3 {
    font-size: 22px;
  }

  .container h4 {
    font-size: 18px;
  }

  .chart {
    width: 80%;
    margin-left: 10%;
  }

  .footer {
    position: absolute;
    width: 80%;
    left: 10%;
  }
}
