#question {
  margin-top: 40px;
}

#description {
  border-radius: 8px;
  width: 60%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 2px;
  text-align: center;
}

#description-header {
  width: 80%;
  margin: auto;
}

#description p {
  text-align: justify;
  width: 80%;
  margin: auto;
}

#description hr {
  width: 80%;
  background-color: white;
}

#question-options {
  margin-top: 30px;
}

.question-option {
  margin-bottom: 10px;
}

.question-option button {
  width: 40%;
}

.hidden {
  display: none;
}

#hint {
  font-size: 0.8em;
}

@media (max-width: 860px) {
  #question {
    margin-top: 30px;
  }

  #description {
    width: 90%;
    margin: auto;
  }

  #description-header {
    width: 90%;
    margin: auto;
  }

  .question-option button {
    width: 90%;
  }
}
